<!DOCTYPE html>
<html lang>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Document</title>
</head>
<body>
    <div><p id ="title">Drip Bag</p></div>

    <section id = "login">
        <div class="divLogin">
            <span class = "text">User ID</span>
            <input type="email">
        </div>

        <div class="divLogin">
            <span class="text">Password</span>
            <input type="password">
        </div>

        <div class="divLogin">
           <button>Sing In</button>
            <button>Sing Up</button>
        </div>
    </section>
</body>
</html>