
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="imagetoolbar" content="no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="title" content="로그인 > 리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta name="publisher" content="리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta name="author" content="리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta name="robots" content="index,follow" />
<meta name="keywords" content="리얼타임, 리얼, 타임, 리타, 성인, 커뮤니티, 성인커뮤니티, 야한동영상, 야동, 성인영상, 영상, 동영상, mp4, 포르노허브, 폰헙, 폰허브, 엑스비디오, x비디오, xvideo, xvideos, 신작, 신작영상, 직공, 자료실, 연예인, 모델, 배우, 인스타, 인스타그램, 페북, 페이스북, 트위터, 트윗, 텀블, 텀블러, 출사, 직공게시판, 직공자료, 출사게시판, 출사자료, 직공영상, 새로운영상, 일본야동, 서양야동, 일본, 서양, 국산, 국산야동, 동양, 동양야동, 코리아BJ, BJ, 아프리카, 아프리카TV, 팝콘, 팝콘TV, 풀, 풀TV, 팬더, 팬더TV, 캔, 캔TV, 19클럽, TV, KJB, koreaBJ, 취향영상, 취향, REAL, REALTIME, RT, rt01, rt02, rt03, rt04, rt05, rt06, rt07, rt01.net, 가장신뢰높은커뮤니티, 리얼타임커뮤니티, 리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta name="description" content="리얼타임 - RITA(리타)" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="로그인 > 리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta property="og:site_name" content="리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta property="og:author" content="리얼타임 - 가장 신뢰높은 커뮤니티" />
<meta property="og:type" content="" />
<meta property="og:description" content="리얼타임 - RITA(리타)" />
<meta property="og:url" content="https://rita01.com/bbs/login.php" />
<link rel="canonical" href="https://rita01.com/bbs/login.php" />
<title>로그인 > 리얼타임 - 가장 신뢰높은 커뮤니티</title>
<link rel="stylesheet" href="https://rita01.com/css/default.css">
<link rel="stylesheet" href="https://rita01.com/css/apms.css?ver=4">
<link rel="stylesheet" href="https://rita01.com/thema/nbvip/assets/bs3/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="https://rita01.com/thema/nbvip/colorset/theme_mint/colorset.css" type="text/css">
<link rel="stylesheet" href="https://rita01.com/skin/member/basic/style.css" >
<!--[if lte IE 8]>
<script src="https://rita01.com/js/html5.js"></script>
<![endif]-->
<script type="8b7bff0e71c2afd4fb1a449a-text/javascript">
// 자바스크립트에서 사용하는 전역변수 선언
var g5_url       = "https://rita01.com";
var g5_bbs_url   = "https://rita01.com/bbs";
var g5_is_member = "";
var g5_is_admin  = "";
var g5_is_mobile = "";
var g5_bo_table  = "";
var g5_sca       = "";
var g5_pim       = "";
var g5_editor    = "";
var g5_responsive    = "1";
var g5_cookie_domain = "";
var g5_purl = "https://rita01.com/bbs/login.php";
</script>
<script src="https://rita01.com/js/jquery-1.11.3.min.js" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/js/jquery-migrate-1.2.1.min.js" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/lang/korean/lang.js?ver=180820" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/js/common.js?ver=180820" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/js/wrest.js?ver=180820" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/js/placeholders.min.js" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<script src="https://rita01.com/js/apms.js?ver=180820" type="8b7bff0e71c2afd4fb1a449a-text/javascript"></script>
<link rel="stylesheet" href="https://rita01.com/js/font-awesome/css/font-awesome.min.css">
</head>

<body class="responsive is-pc">
	<h1 style="display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important">
	로그인 > 리얼타임 - 가장 신뢰높은 커뮤니티	</h1>
<div class="ko">
<div style="max-width:440px; margin:180px auto;">
	<div class="form-box" style="border:0;background:none;">
		<div class="form-body" style="background:#111; color:#fff; padding:60px; border-radius:50px; border:3px solid #F2CB61;">
			<a style="color:#fff;" href="https://rita01.com"><h1 style="font-weight:bold;padding-bottom:10px;text-align:center;">RITA SERVICE</h1></a>
			<form class="form" role="form" name="flogin" action="https://rita01.com/bbs/login_check.php" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return flogin_submit(this);" method="post" data-cf-modified-8b7bff0e71c2afd4fb1a449a-="">
			<input type="hidden" name="url" value='https%3A%2F%2Frita01.com'>
				<div class="form-group has-feedback">
					<label for="login_id"><b>User ID</b><strong class="sound_only"> 필수</strong></label>
					<input type="text" name="mb_id" id="login_id" required class="form-control input-sm" size="20" maxLength="20">
					<span class="fa fa-user form-control-feedback black" style="line-height:30px;"></span>
				</div>
				<div class="form-group has-feedback">
					<label for="login_pw"><b>Password</b><strong class="sound_only"> 필수</strong></label>
					<input type="password" name="mb_password" id="login_pw" required class="form-control input-sm" size="20" maxLength="20">
					<span class="fa fa-lock form-control-feedback black" style="line-height:30px;"></span>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-darkred pull-right" style="width:100%;height:40px;">Secret login</button>
						<a href="./register.php"><button type="button" class="btn btn-blue pull-left" style="width:100%;height:40px;margin-top:10px;">Sign Up</button></a>
					</div>
				</div>
				<div class="h20"></div>
			</form>
					</div>
	</div>


</div>

<script type="8b7bff0e71c2afd4fb1a449a-text/javascript">
$(function(){
    $("#login_auto_login").click(function(){
        if (this.checked) {
            this.checked = confirm("자동로그인을 사용하시면 다음부터 회원아이디와 비밀번호를 입력하실 필요가 없습니다.\n\n공공장소에서는 개인정보가 유출될 수 있으니 사용을 자제하여 주십시오.\n\n자동로그인을 사용하시겠습니까?");
        }
    });
});

function flogin_submit(f) {
    return true;
}
</script>
<!-- } 로그인 끝 --></div>

<!--[if lt IE 9]>
<script type="text/javascript" src="https://rita01.com/thema/nbvip/assets/js/respond.js"></script>
<![endif]-->

<!-- JavaScript -->
<script type="8b7bff0e71c2afd4fb1a449a-text/javascript" src="https://rita01.com/thema/nbvip/assets/bs3/js/bootstrap.min.js"></script>
<script type="8b7bff0e71c2afd4fb1a449a-text/javascript" src="https://rita01.com/thema/nbvip/assets/js/custom.sub.js"></script>

<!-- 아미나빌더 1.8.27 / 그누보드 5.3.3.3(보안패치 G5.4.1.3) -->
<!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
<!--[if lte IE 7]>
<script>
$(function() {
    var $sv_use = $(".sv_use");
    var count = $sv_use.length;

    $sv_use.each(function() {
        $(this).css("z-index", count);
        $(this).css("position", "relative");
        count = count - 1;
    });
});
</script>
<![endif]-->

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="8b7bff0e71c2afd4fb1a449a-|49" defer=""></script></body>
</html>
